
  .cards {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
  }
  
  .card {
    position: relative;
    width: 230px;
    height: 40%;
    margin: 0 auto;
    border: solid 1.5px #731702;
    border-radius: 8px;
    z-index: 1;
    transition: ease-in-out 0.4s;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
    background-color: white;
  }
  
  .card::after,
  .card::before {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: scale(0);
    content: '';
    top: 0;
    left: 0;
    border-radius: 8px;
    transition: ease-in-out 0.3s;
  }
  
  
  .card:hover::after,
  .card:hover::before {
    transform: scale(1);
    z-index: -1;
  }
  
  .card:hover::after {
    transform: scale(0.95);
    background-color: #F28B30;
    transition: ease-in-out 0.4s;
    z-index: -1;
  }
  
  .card:hover::before {
    transform: scale(1);
    background-color: #ca9d66;
    transition: ease-in-out 0.2s;
    z-index: -1;
  }
  
  .card:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .tools {
    display: flex;
    align-items: center;
    padding: 9px;
    height: 10%;
  }
  
  .circle {
    padding: 0 4px;
  }
  
  .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
  }
  
  .red {
    background-color: #ff605c;
  }
  
  .yellow {
    background-color: #ffbd44;
  }
  
  .gray {
    background-color: #696a6a;
  }
  
  .card__content {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
  }
  
  
  .card__buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 100%;
    height: 30px;
  }
  
  .card__buttons button:first-child,
  .card__buttons button:last-child {
    height: 30px;
  }
  
  .card__buttons button:first-child {
    background-color: #ca9d66;
  }
  .card__buttons button:last-child {
    background-color: white;
  }
  
  .card__button {
    width: 45%;
    cursor: pointer;
    background: none;
    border: solid 1px black;
  }
  
  .cards__vacias {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }