.cars-main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section-two-carsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
}
.cars-card{
    width: 350px;
    height: 150px;
    margin-top: 5%;
    margin-left: 20%;
    background-color: #e1ff00;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cars-card img{
    width: 250px;
    height: 150px;
    image-rendering: auto;
    cursor: pointer;
}
.cars-card:hover{
    transform: scale(1.2);
    background-color: #0b5c17;
    transition: ease-in-out 0.5s;
    border-radius: 30px;
}
.search-bar{
    display: flex;
    justify-content: center;
    align-items:space-around;
    margin-top: 5%;
    border: solid 5px #ffde59;
    padding: 10px 15px;
    width: 90%;
}
.multi-functional-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #ffde59; /* Color amarillo */
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    background-color: white;
  }
  
  .multi-functional-button .icon {
    margin-right: 10px;
    color: #ffde59; /* Color amarillo */
  }
  
  .multi-functional-button .label {
    display: none;
  }
  
  .multi-functional-button input {
    border: none;
    outline: none;
    font-size: 1rem;
    color: #000000; 
  }
  .autocomplete {
    position: relative;
  }
  
  .autocomplete-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
  }
  
  .autocomplete-list li {
    padding: 10px;
    cursor: pointer;
  }
  
  .autocomplete-list li:hover {
    background-color: #f0f0f0;
  }
  .search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b5c17;
    color: white;
    border: 5px solid #ffde59;
    border-radius: 20px;
    height: 60px;
    cursor: pointer;
    width: 300px;
  }

  .section-three {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:50px ;
    width: 100%;
    background-color: #014421; /* Fondo verde oscuro */
    margin-top: 2%;
  }
  
  .card {
    background-color: #ffde59; /* Fondo amarillo */
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-icon {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .card-description {
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
  }
  .footer-main{
    width: 100%;
  }

  .footer {
    border-top: 10px solid #ffffff;
    background-color:rgb(0, 0, 0); /* Fondo verde oscuro */
    color: #014421;
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  .footer-section p, .footer-section ul {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons a {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .footer-bottom {
    background-color:#014421; /* Fondo verde más oscuro */
    padding: 10px 0;
    color: white;
    font-size: 1rem;
  }

  .form_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffb800;
    color: Black;
    border-radius: 15px;
    border: none;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    width: 12%;
  }

  .form_btn:hover{
    background:#014421;
    color: white;
    outline: 3px solid #ffde59; 
    transition: all 0.4s ease-in-out;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    text-shadow: 0 0 8px #ffffff, 0 0 12px #ffb800;
  }

 